@media (max-width:1360px){
    .container{
        max-width: 990px;
    }
     .menu__list>li{
         margin-right: 10px;
     }

     .right{
         margin-right: 0px;
     }
    
     .start__col1{
         flex-basis: 500px;
     }

     .start__title{
         font-size: 50px;
     }


     .blue{
         margin-bottom: 110px;
     }

  .item__pic{
      height: 120px;
      

  }

  

  .item__buttons{
      row-gap: 45px;
  }


}

@media (max-width:980px){
    .container{
        max-width: 760px;
    }
    .header__menu{
        display: none;
    }
    .header__top{
        align-items: center;
        justify-content: center;
    }

    .header__info{
        display: block;
        margin-top: 20px;
    }
    .start__col1{
        flex-basis: 100%;
        margin-bottom: 20px;
    }



.blue{
    margin-bottom: 20px;
}


  
  


    .start__info{
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }
}


@media (max-width:770px){
    .container{
        max-width: 560px;
    }
  
   .mainblock__pictures
   {
   display: flex;
   flex-direction: column;
   }

   .footer__content{
       flex-direction: column;
   }
 

   .footer__col{
       
       border-bottom: 1px grey solid;
   }
   .content__body{
       flex-direction: column;
   }
    

   .footer__about{
       flex-direction: column;
   }
   .footer__who{
       margin-top: 20px;
   }
   .item__header{
    text-align: center;
   }
       
   .item__confirm{
       display: flex;
       justify-content: center;
   }

   .btn1{
       max-width: 100%;
       width: 100%;
   }
   
   .content__col1{
       margin-bottom: 50px;
   }

    .item__buttons{
        column-gap: 10px;
        row-gap: 10px;
    }



    .mainblock__picture{
        margin-bottom: 30px;
    }


}

@media (max-width:550px){
    .container{
        max-width: none;
    }
    .btn1{
        font-size: 20px;
    }
}


@media(max-width:400px){
    .start__title{
        font-size: 30px;
    }
    .start__text{
        font-size: 20px;
    }



}

@media(max-width:300px){
.mainblock__title{
   padding-left: 10px;
   padding-right: 10px;
   font-weight: normal;
   font-size: 24px;
}


.mainblock__subtitle{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.mainblock__text{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

}