.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #ebebeb;
}

.container {
  max-width: 1350px;
  margin: 0px auto;
}

.header {
  margin-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-size: 20px;
}

.header__info {
  font-size: 17px;
  position: relative;
  -webkit-animation-name: headerleft;
          animation-name: headerleft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  color: dimgray;
  font-weight: 700;
  display: inline-block;
  margin-left: 15px;
  margin-top: 0px;
}

.header__mainlink {
  position: relative;
  -webkit-animation-name: headerright;
          animation-name: headerright;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  font-family: 'Oleo Script', cursive;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 59px;
  background-color: #ff4486;
  border-radius: 10px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  color: dimgray;
}

.header__sub {
  font-weight: 300;
  color: dimgray;
}

.menu__list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list > li {
  font-family: 'Open Sans', sans-serif;
  padding: 12px;
  margin-right: 30px;
  font-size: 16px;
  color: dimgray;
  letter-spacing: 1.5px;
  font-weight: 900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
  position: relative;
}

.menu__list > li:hover {
  background-color: white;
}

.menu__list > li:hover .sub-list {
  display: block;
}

.menu__list > li:first-child {
  background-color: #444444;
  border-radius: 10px;
}

.menu__list > li:first-child .header__link {
  color: white;
  font-weight: 900;
}

.menu__list > li:last-child {
  margin-right: 0px;
}

.sub-list {
  right: -86px;
  top: 55px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  z-index: 50;
  display: none;
  -webkit-box-shadow: 1px 1px 2px 0px grey;
          box-shadow: 1px 1px 2px 0px grey;
}

.sub-list > li {
  font-size: 13px;
  letter-spacing: 0.3px;
  width: 200px;
  position: relative;
  padding-top: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}

.sub-list > li:nth-child(2), .sub-list > li:nth-child(3), .sub-list > li:nth-child(4) {
  border-bottom: 1px solid black;
}

.sub-list > li:hover {
  background-color: #bfbfbf;
}

.sub-list > li:hover .arrow-ip::before {
  content: '';
  background-color: #bfbfbf;
}

.sub-list > li:hover .sub-sub-menu {
  display: block;
}

.sub-sub-menu {
  top: -25px;
  left: 200px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  display: none;
  -webkit-box-shadow: 1px 1px 2px 0px grey;
          box-shadow: 1px 1px 2px 0px grey;
}

.sub-sub-menu > li {
  font-size: 13px;
  letter-spacing: 0.3px;
  width: 200px;
  position: relative;
  padding-top: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}

.sub-sub-menu > li:nth-child(2), .sub-sub-menu > li:nth-child(3), .sub-sub-menu > li:nth-child(4), .sub-sub-menu li:nth-child(1) {
  border-bottom: 1px solid black;
}

.sub-sub-menu > li:hover {
  background-color: gold;
}

.start {
  margin-top: 70px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  padding: 10px;
}

.start__info {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 0px 0px grey;
          box-shadow: 0px 2px 0px 0px grey;
  min-width: 80px;
}

.start__col1 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 80px;
}

.start__title {
  font-size: 60px;
  font-weight: 800;
  color: #444444;
  margin-bottom: 40px;
  min-width: 80px;
}

.start__text {
  color: dimgray;
  line-height: 58px;
  font-size: 46px;
}

.start__col2 {
  min-width: 80px;
}

.start__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn1 {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 10px;
  color: white;
  font-size: 39px;
  font-weight: 800;
}

.blue {
  background-color: #10a0d5;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue:hover {
  background-color: #2abaef;
}

.right {
  margin-right: 150px;
}

.gray {
  background-color: #e9e9e9;
  -webkit-transition: 1s;
  transition: 1s;
  color: black;
}

.gray:hover {
  background-color: #bfbfbf;
}
/*# sourceMappingURL=stylescss.css.map */